
*.root
*.xml
*.jdl
*.sh
*.d
*.so
*.o
*.txt
*.py[co]

*.png
*.pdf
*.eps
*.svg

!scripts/*.sh

/ConfigMultiAnalysis.C
/SetupGrid.C
analysis_merge.C

LednickyEqn

/*.cxx
/*.h
/*.C

.project
.cproject
nbproject
myAnalysis.C

AutoDict_*

output
runs

.db

__pycache__
.ipynb_checkpoints

data

venv*/

callgrind.out*
valgrind*
igprof*
outig*
