
*.root
*.xml
*.json
*.jdl
*.sh
*.so
*.[aod]
*.pcm
*.txt
*.py[co]

*.ipynb

*.png
*.pdf
*.eps
*.svg

!scripts/*.sh

/ConfigMultiAnalysis.C
/SetupGrid.C
analysis_merge.C

LednickyEqn

/*.cxx
/*.h
/*.C

.project
.cproject
nbproject
myAnalysis.C

AutoDict_*
tempChecksum_*/

build/
output
runs

.db

__pycache__
.ipynb_checkpoints

data

venv*/
.idea
.vscode
/tags
.cache
*.log

callgrind.out*
valgrind*
igprof*
outig*

